.about {
    background-image: var(--gradient-top);
    border-top: 2px solid;
    border-image: linear-gradient(to left, var(--color-darker), transparent) 1;
    
    #aboutMe{margin: 20px 0; min-height: 140px;}

    .text{
        margin-left: 20px;
        max-width: 385px;
        span{font-weight: bold; color: var(--color-medium);}
    }

    .icon-email{display: flex; align-items: start;}

    .profile-pic{
        border: 2px solid var(--color-darker); 
        z-index: 2; 
        border-radius: 5px; 
        width: 200px;
        transition: .5s;
        &:hover{transform: scale(1.02);}
    }

    .shadow{
        background-image: linear-gradient(to bottom, rgba(#97a1ff,.5), transparent);
        height: 265px; 
        width: 200px; 
        position: absolute; 
        border-radius: 5px;
        transform: translate(-224px, -24px); 
        z-index: 1;
    }


    @media screen and (max-width: 480px) {

        .profile-pic{width: 60%;}
        .shadow{width: 60%; transform: translate(-10%, -100%);}
        .text{margin-top: 48px;}
}
}

