

header{
    
    .header {width: 960px; margin: 0 auto; display: flex; align-items: center; justify-content: center;}
    
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    z-index: 3;
    border-bottom: 1px solid;
    border-image: linear-gradient(to left, transparent, rgba(var(--color-darker),0.5), transparent) 1;
    box-shadow: 0px 0px 100px 1px black;
    
    
    
    #logo{height: 42px; margin-right: auto; margin-top: 10px; margin-bottom: 10px;}
    ul{display: flex;  margin-left: auto; }
    a{text-decoration: none; color: var(--color-lighter); font-size: 20px; letter-spacing: 2px;}
    li + li{ margin-left: 32px;}
    ul li{transition:.5s; &:hover{transform: scale(1.05);}}

    #btn-mobile{
        display: none;
    }


@media screen and (max-width: 480px) {
    

    .header{width: 100%; min-height: 80px; padding: 10px;}
    #btn-mobile{display: block; position: absolute; right: 0; top: 10px;}

    #logo{position: absolute; left: 0; top: 0;}
    #menu{
    width: 100%; 
    display: none;
    }

    #btn-mobile{width: 60px; display: flex;}
    #hamburger{
        border-top: 2px solid; 
        width: 20px;}
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
    }

    #menu li{margin: 10px auto;}
    li{
        display: flex;
        justify-content: center;
        width: 90vw; 
        border-bottom: 1px solid var(--color-darker);
    }

    a{margin: 10px;}

    ul{margin-top: 70px;}

    #nav.active #menu{
        transition: .5s;
        display: flex;
        flex-direction: column;
    }

    #toggle{margin: 10px auto;}

}

}