.home {
    
    background-image: var(--gradient-inclined);
    
    .presentation {width: 480px; margin-left: 20px;}

    .presentation__name {margin-bottom: 24px;}

    #myName {
        color: var(--color-darker);
        font-size: 35px;
        font-family: "Roboto";
        font-weight: bold;
    }

    .art img {margin-right: 20px; width: 480px; transition: .5s;
    &:hover{transform: scale(1.05); transform: scaleX(-1);}
    }


    #myName::after{
        content:'|';
        color: var(--color-lighter);
        margin-left: 5px;
        opacity: 1;
        animation: blinkName 1s infinite;
    }

    @keyframes blinkName {
        0%,100%{opacity: 1;}
        50%{opacity: 0;}
    }


    @media screen and (min-width: 768px) and (max-width: 959px) {

        .presentation{width: 100%;}
        .art img{width: 100%;}
    
    }

    @media screen and (max-width: 767px) {

        .presentation {width: 100%; order: 2; margin-top: 32px;}
        .art img {width: 100%; order: 1;}
    }

    
}


