.services{
    background-image: var(--gradient-top-dark);
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent, var(--color-darker), transparent) 1;


    .card{
        height: 280px; padding: 0 30px; margin: 0 32px;
        display: flex; flex-direction: column; justify-content: center; align-items: center; 
        background: var(--bg-lighter);
        border-radius: 10px;
        box-shadow: 0px 20px 50px 10px rgba(black,.5);
        overflow: hidden;
        &:hover{transform: scale(1.10);}
        transition: 0.5s;
        img{width: 50px;}
        z-index: 2; 
        position: relative;

            &__icon{margin-bottom: 8px; z-index: 2; position: relative;}
            &__title{margin-bottom: 8px; z-index: 2; position: relative; span{color: var(--color-medium); font-weight: bold;}}
            &__descrition p{text-align: center; max-width: 320px; z-index: 2; position: relative;}
        
            &::before {
                content: '';
                position: absolute;
                width: 300px;
                height: 200%;
                background: linear-gradient(to left, var(--bg-lighter), var(--color-darker), var(--bg-lighter));
                animation: animate 6s linear infinite;
            }

            &::after {
                content: '';
                position: absolute;
                background: var(--bg-lighter);
                inset: 3px;
                border-radius: 10px;
            }

            @keyframes animate {
                0% {transform: rotate(0deg);}
                100% {transform: rotate(360deg);}
            }

        }


        @media screen and (min-width: 768px) and (max-width: 959px) {

            }

        @media screen and (max-width: 767px) {

        .card{margin-bottom: 48px; width: 100%;}

}
}
