*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}



/* Espaçamento do Site */

$spacing: 150px;

/* Page Container */

.content {width: 960px; margin: 0 auto; display: flex; align-items: center; justify-content: center; padding: $spacing 0;}

/* Fonts */

li a,h1,h2{font-family: 'Bebas Neue', arial; letter-spacing: 1.5px; font-weight: 400;}
span,p{font-family: 'Roboto', arial; cursor: default;}

li{list-style: none;} 
a{cursor: pointer;}

p{font-size: 14px; color: var(--color-lighter);}
span{font-size: 20px; color: var(--color-lighter)}

h1{font-size: 30px; color: var(--color-medium); display: flex; justify-content: center; cursor: default;}
h2{font-size: 20px; color: var(--color-darker); display: flex; justify-content: center; margin-bottom: -10px; cursor: default;}
.title{padding-top: $spacing;}

/* Icon */

.button-icon img{width: 20px; margin-right: 5px; cursor: pointer;}

/* Buttons */


button{
    border-radius: 10px;
    background-color: rgba(0,0,0,.0);
    color: var(--color-lighter);
    font-weight: bold;
    width: 150px;
    height: 50px;
    margin-right: 12px;
    border: 2px solid var(--color-darker);
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    img{width: 20px; margin-right: 5px;}
    &:hover{background: rgba(var(--color-darker), $alpha: 0.8); transform: scale(1.05);}
    transition: 0.2s;

    p{cursor: pointer;}
}

.buttons{display: flex;}

.button-larger{width: 180px;}
