:root{

    --color-lighter: white;
    --color-medium: #DADDFF;
    --color-darker: #B3BAFF;

    --bg-lighter: #32354B;
    --bg-medium: #2A2D40;
    --bg-darker: #11121A;

    --gradient-inclined: linear-gradient(-45deg, var(--bg-darker),  var(--bg-lighter),    var(--bg-darker));
    --gradient-top: linear-gradient(to bottom,   var(--bg-darker),    var(--bg-lighter));
    --gradient-top-dark: linear-gradient(to bottom,  var(--bg-darker),   var(--bg-medium));
    

}


