@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Espaçamento do Site */
/* Page Container */
.content {
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 150px 0;
}

/* Fonts */
li a, h1, h2 {
  font-family: 'Bebas Neue', arial;
  letter-spacing: 1.5px;
  font-weight: 400;
}

span, p {
  font-family: 'Roboto', arial;
  cursor: default;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}

p {
  font-size: 14px;
  color: white;
}

span {
  font-size: 20px;
  color: white;
}

h1 {
  font-size: 30px;
  color: #DADDFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
}

h2 {
  font-size: 20px;
  color: #B3BAFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -10px;
  cursor: default;
}

.title {
  padding-top: 150px;
}

/* Icon */
.button-icon img {
  width: 20px;
  margin-right: 5px;
  cursor: pointer;
}

/* Buttons */
button {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: bold;
  width: 150px;
  height: 50px;
  margin-right: 12px;
  border: 2px solid #B3BAFF;
  cursor: pointer;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button img {
  width: 20px;
  margin-right: 5px;
}

button:hover {
  background: rgba(179, 186, 255, 0.8);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

button p {
  cursor: pointer;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-larger {
  width: 180px;
}

.button-darker {
  background: rgba(179, 186, 255, 0.8);
}

.button-darker:hover {
  background: rgba(179, 186, 255, 0.2);
}

header {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid;
  -o-border-image: linear-gradient(to left, transparent, rgba(179, 186, 255, 0.5), transparent) 1;
     border-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(rgba(179, 186, 255, 0.5)), to(transparent)) 1;
     border-image: linear-gradient(to left, transparent, rgba(179, 186, 255, 0.5), transparent) 1;
  -webkit-box-shadow: 0px 0px 100px 1px black;
          box-shadow: 0px 0px 100px 1px black;
}

header .header {
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #logo {
  height: 42px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}

header li + li {
  margin-left: 32px;
}

.home {
  background-image: linear-gradient(-45deg, #11121A, #32354B, #11121A);
}

.home .presentation {
  width: 480px;
}

.home .presentation__name {
  margin-bottom: 24px;
}

.home #myName {
  color: #B3BAFF;
  font-size: 35px;
  font-family: "Roboto";
  font-weight: bold;
}

.home .art img {
  width: 480px;
}

.about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#11121A), to(#32354B));
  background-image: linear-gradient(to bottom, #11121A, #32354B);
  border-top: 2px solid;
  -o-border-image: linear-gradient(to left, #B3BAFF, transparent) 1;
     border-image: -webkit-gradient(linear, right top, left top, from(#B3BAFF), to(transparent)) 1;
     border-image: linear-gradient(to left, #B3BAFF, transparent) 1;
}

.about #about-me {
  margin: 20px 0;
}

.about .text {
  margin-left: 20px;
  max-width: 385px;
}

.about .text span {
  font-weight: bold;
  color: #DADDFF;
}

.about .icon-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.about .profile-pic {
  border: 2px solid #B3BAFF;
  z-index: 2;
  border-radius: 5px;
  width: 200px;
  -webkit-transition: .5s;
  transition: .5s;
}

.about .profile-pic:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.about .shadow {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(179, 186, 255, 0.5)), to(transparent));
  background-image: linear-gradient(to bottom, rgba(179, 186, 255, 0.5), transparent);
  height: 265px;
  width: 200px;
  position: absolute;
  border-radius: 5px;
  -webkit-transform: translate(-224px, -24px);
          transform: translate(-224px, -24px);
  z-index: 1;
}

.services {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#11121A), to(#32354B));
  background-image: linear-gradient(to bottom, #11121A, #32354B);
  border-top: 2px solid;
  -o-border-image: linear-gradient(to right, transparent, #B3BAFF, transparent) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#B3BAFF), to(transparent)) 1;
     border-image: linear-gradient(to right, transparent, #B3BAFF, transparent) 1;
}

.services .card {
  height: 280px;
  padding: 0 30px;
  margin: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #32354B;
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  position: relative;
}

.services .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services .card img {
  width: 50px;
}

.services .card__icon {
  margin-bottom: 8px;
  z-index: 2;
  position: relative;
}

.services .card__title {
  margin-bottom: 8px;
  z-index: 2;
  position: relative;
}

.services .card__title span {
  color: #DADDFF;
  font-weight: bold;
}

.services .card__descrition p {
  text-align: center;
  max-width: 320px;
  z-index: 2;
  position: relative;
}

.services .card::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 200%;
  background: -webkit-gradient(linear, right top, left top, from(#32354B), color-stop(#B3BAFF), to(#32354B));
  background: linear-gradient(to left, #32354B, #B3BAFF, #32354B);
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
}

.services .card::after {
  content: '';
  position: absolute;
  background: #32354B;
  inset: 3px;
  border-radius: 10px;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.web {
  background-image: linear-gradient(-45deg, #11121A, #32354B, #11121A);
  border-top: 2px solid;
  -o-border-image: linear-gradient(to right, #B3BAFF, #32354B) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#B3BAFF), to(#32354B)) 1;
     border-image: linear-gradient(to right, #B3BAFF, #32354B) 1;
}

.web .project {
  margin-bottom: 150px;
}

.web .project p {
  margin-right: 4px;
  display: inline;
  letter-spacing: 1.25px;
}

.web .project .project-screens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.web .project .project-screens .screen-desktop,
.web .project .project-screens .screen-mobile,
.web .project .project-screens .screen-tablet {
  outline: 2px solid #B3BAFF;
  -webkit-box-shadow: 0px 10px 40px 1px;
          box-shadow: 0px 10px 40px 1px;
  -webkit-transition: .5s;
  transition: .5s;
}

.web .project .project-screens .screen-desktop:hover,
.web .project .project-screens .screen-mobile:hover,
.web .project .project-screens .screen-tablet:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.web .project .screen-desktop {
  width: 400px;
  margin-right: 30px;
}

.web .project .screen-mobile {
  height: 300px;
  margin-right: 30px;
}

.web .project .screen-tablet {
  height: 300px;
}

.web .project .project-info {
  margin: 50px 0;
  max-width: 700px;
}

.web .project .project-info__name, .web .project .project-info__technologies, .web .project .project-info__descrition {
  margin-bottom: 10px;
}

.web .project .project-info__name :nth-child(1), .web .project .project-info__technologies :nth-child(1), .web .project .project-info__descrition :nth-child(1) {
  color: #DADDFF;
}

.designer {
  background-image: linear-gradient(-45deg, #11121A, #32354B, #11121A);
  border-top: 2px solid;
  -o-border-image: linear-gradient(to right, #B3BAFF, transparent, #B3BAFF) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#B3BAFF), color-stop(transparent), to(#B3BAFF)) 1;
     border-image: linear-gradient(to right, #B3BAFF, transparent, #B3BAFF) 1;
}

.designer section {
  position: relative;
  width: 960px;
}

.designer section img {
  width: 265px;
}

.designer section .swiper {
  width: 860px;
}

.designer section .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.designer section .card-content img {
  border: 2px solid #B3BAFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 80%;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
}

.designer section .card-content img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 100%;
}

.designer section .swiper-button-next, .designer section .swiper-button-prev {
  opacity: 0.7;
  color: #B3BAFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.designer section .swiper-button-next:hover, .designer section .swiper-button-prev:hover {
  opacity: 1;
  color: #B3BAFF;
}

.abilities {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#11121A), to(#32354B));
  background-image: linear-gradient(to bottom, #11121A, #32354B);
  border-top: 2px solid;
  -o-border-image: linear-gradient(to right, transparent, #B3BAFF, transparent) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#B3BAFF), to(transparent)) 1;
     border-image: linear-gradient(to right, transparent, #B3BAFF, transparent) 1;
}

.abilities .technologies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 960px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.abilities .technology-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #32354B;
  border-radius: 10px;
  margin: 0 15px 50px 15px;
  -webkit-box-shadow: 0px 20px 50px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 50px 1px rgba(0, 0, 0, 0.5);
  padding: 30px;
  overflow: hidden;
  z-index: 2;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.abilities .technology-card img {
  margin-bottom: 10px;
}

.abilities .technology-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.abilities .technology-card__name span {
  color: #DADDFF;
}

.abilities .technology-card__icon, .abilities .technology-card__name {
  z-index: 2;
  position: relative;
}

.abilities .technology-card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 200%;
  margin-top: -150px;
  background: -webkit-gradient(linear, right top, left top, from(#32354B), color-stop(#B3BAFF), to(#32354B));
  background: linear-gradient(to left, #32354B, #B3BAFF, #32354B);
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
}

.abilities .technology-card::after {
  content: '';
  position: absolute;
  background: #32354B;
  inset: 3px;
  border-radius: 10px;
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.abilities .large img {
  width: 150px;
}

.abilities .medium img {
  width: 85px;
}

.abilities .small img {
  width: 40px;
}

.education {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#11121A), to(#2A2D40));
  background-image: linear-gradient(to bottom, #11121A, #2A2D40);
  border-top: 2px solid;
  -o-border-image: linear-gradient(to left, transparent, #B3BAFF, transparent) 1;
     border-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(#B3BAFF), to(transparent)) 1;
     border-image: linear-gradient(to left, transparent, #B3BAFF, transparent) 1;
}

.education img {
  width: 50px;
}

.education .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.education .title-course {
  padding: 150px 0;
}

.education .education-container {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.education .education-container .course-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  margin: 0 15px;
  padding: 30px;
  background: #32354B;
  border: 2px solid #B3BAFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: .5s;
  transition: .5s;
}

.education .education-container .course-card span {
  font-weight: bold;
}

.education .education-container .course-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.education .education-container .course-card__status {
  margin-bottom: 5px;
}

.education .education-container .course-card__status span {
  color: #B3BAFF;
  font-size: 14px;
}

.education .education-container .course-card__name {
  margin-bottom: 10px;
}

.education .education-container .course-card__name span, .education .education-container .course-card__name span a {
  color: #DADDFF;
}

.education .education-container .course-card__institution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.education .education-container .course-card__institution span {
  color: white;
  font-size: 14px;
}

.education .education-container .course-card__institution img {
  width: 20px;
  margin-right: 5px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #11121A;
}

footer p {
  margin: 20px 0;
  color: #B3BAFF;
}
/*# sourceMappingURL=main.css.map */