@charset "UTF-8";
:root {
  --color-lighter: white;
  --color-medium: #DADDFF;
  --color-darker: #B3BAFF;
  --bg-lighter: #32354B;
  --bg-medium: #2A2D40;
  --bg-darker: #11121A;
  --gradient-inclined: linear-gradient(-45deg, var(--bg-darker),  var(--bg-lighter),    var(--bg-darker));
  --gradient-top: linear-gradient(to bottom,   var(--bg-darker),    var(--bg-lighter));
  --gradient-top-dark: linear-gradient(to bottom,  var(--bg-darker),   var(--bg-medium));
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Espaçamento do Site */
/* Page Container Web */
.content {
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 150px 0;
}

/* Page Container Mobile */
@media screen and (max-width: 767px) {
  .content {
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 150px 0;
  }
  .content .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .buttons button {
    width: 80%;
    margin-bottom: 30px;
  }
}

/* Fonts */
li a, h1, h2 {
  font-family: 'Bebas Neue', arial;
  letter-spacing: 1.5px;
  font-weight: 400;
}

span, p {
  font-family: 'Roboto', arial;
  cursor: default;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}

p {
  font-size: 14px;
  color: var(--color-lighter);
}

span {
  font-size: 20px;
  color: var(--color-lighter);
}

h1 {
  font-size: 30px;
  color: var(--color-medium);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
}

h2 {
  font-size: 20px;
  color: var(--color-darker);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -10px;
  cursor: default;
}

.title {
  padding-top: 150px;
}

/* Icon */
.button-icon img {
  width: 20px;
  margin-right: 5px;
  cursor: pointer;
}

/* Buttons */
button {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-lighter);
  font-weight: bold;
  width: 150px;
  height: 50px;
  margin-right: 12px;
  border: 2px solid var(--color-darker);
  cursor: pointer;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button img {
  width: 20px;
  margin-right: 5px;
}

button:hover {
  background: rgba(var(--color-darker), 0.8);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

button p {
  cursor: pointer;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-larger {
  width: 180px;
}

#toggle {
  cursor: pointer;
  margin-left: 35px;
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background: var(--color-medium);
  -webkit-transition: .5s;
  transition: .5s;
}

#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: var(--bg-lighter);
  border-radius: 50%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .5s;
  transition: .5s;
}

.light-mode {
  --color-lighter: #656ca8;
  --color-medium: #878cba;
  --color-darker: #97a1ff;
  --color-bordertop: #b8bedd;
  --bg-lighter: #efefff;
  --bg-medium: #ffeef6;
  --bg-darker: #ffeef6;
  --filter-color: invert(41%) sepia(100%) saturate(230%) hue-rotate(195deg) brightness(76%) contrast(87%);
  --gradient-inclined: linear-gradient(-45deg, var(--bg-darker),  var(--bg-lighter),    var(--bg-darker));
  --gradient-top: linear-gradient(-45deg, var(--bg-darker),  var(--bg-lighter),    var(--bg-darker));
  --gradient-top-dark: linear-gradient(-45deg, var(--bg-darker),  var(--bg-lighter),    var(--bg-darker));
}

.light-mode #toggle {
  background: var(--color-lighter);
}

.light-mode #toggle .indicator {
  left: 25px;
  background: var(--bg-darker);
}

.light-mode header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.2);
}

.light-mode header #logo {
  -webkit-filter: var(--filter-color);
          filter: var(--filter-color);
}

.light-mode button img, .light-mode .button-icon img, .light-mode .services img, .light-mode .course-card__institution img {
  -webkit-filter: var(--filter-color);
          filter: var(--filter-color);
}

.light-mode .about, .light-mode .services, .light-mode .web, .light-mode .design, .light-mode .abilities, .light-mode .education {
  border-top: 2px solid;
  -o-border-image: linear-gradient(to right, var(--color-bordertop), transparent, var(--color-bordertop)) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(var(--color-bordertop)), color-stop(transparent), to(var(--color-bordertop))) 1;
     border-image: linear-gradient(to right, var(--color-bordertop), transparent, var(--color-bordertop)) 1;
}

.light-mode .services .card {
  -webkit-box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.2);
}

.light-mode .web .projects .project-screens .screen-desktop,
.light-mode .web .projects .project-screens .screen-mobile,
.light-mode .web .projects .project-screens .screen-tablet {
  -webkit-box-shadow: 0px 10px 40px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 10px 40px 1px rgba(0, 0, 0, 0.7);
}

.light-mode .designer .card-content img {
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.light-mode .abilities .technology-card {
  -webkit-box-shadow: 0px 20px 50px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 50px 1px rgba(0, 0, 0, 0.2);
}

.light-mode .education .education-container .course-card {
  -webkit-box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.2);
}

.light-mode footer {
  background: var(--color-lighter);
}

.light-mode footer p {
  color: var(--bg-lighter);
}

header {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid;
  -o-border-image: linear-gradient(to left, transparent, rgba(var(--color-darker), 0.5), transparent) 1;
     border-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(rgba(var(--color-darker), 0.5)), to(transparent)) 1;
     border-image: linear-gradient(to left, transparent, rgba(var(--color-darker), 0.5), transparent) 1;
  -webkit-box-shadow: 0px 0px 100px 1px black;
          box-shadow: 0px 0px 100px 1px black;
}

header .header {
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #logo {
  height: 42px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

header a {
  text-decoration: none;
  color: var(--color-lighter);
  font-size: 20px;
  letter-spacing: 2px;
}

header li + li {
  margin-left: 32px;
}

header ul li {
  -webkit-transition: .5s;
  transition: .5s;
}

header ul li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

header #btn-mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  header .header {
    width: 100%;
    min-height: 80px;
    padding: 10px;
  }
  header #btn-mobile {
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
  }
  header #logo {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  header #menu {
    width: 100%;
    display: none;
  }
  header #btn-mobile {
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  header #hamburger::after, header #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
  }
  header #menu li {
    margin: 10px auto;
  }
  header li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90vw;
    border-bottom: 1px solid var(--color-darker);
  }
  header a {
    margin: 10px;
  }
  header ul {
    margin-top: 70px;
  }
  header #nav.active #menu {
    -webkit-transition: .5s;
    transition: .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header #toggle {
    margin: 10px auto;
  }
}

.home {
  background-image: var(--gradient-inclined);
}

.home .presentation {
  width: 480px;
}

.home .presentation__name {
  margin-bottom: 24px;
}

.home #myName {
  color: var(--color-darker);
  font-size: 35px;
  font-family: "Roboto";
  font-weight: bold;
}

.home .art img {
  width: 480px;
  -webkit-transition: .5s;
  transition: .5s;
}

.home .art img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.home #myName::after {
  content: '|';
  color: var(--color-lighter);
  margin-left: 5px;
  opacity: 1;
  -webkit-animation: blinkName 1s infinite;
          animation: blinkName 1s infinite;
}

@-webkit-keyframes blinkName {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes blinkName {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  .home .presentation {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 32px;
  }
  .home .art img {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.about {
  background-image: var(--gradient-top);
  border-top: 2px solid;
  -o-border-image: linear-gradient(to left, var(--color-darker), transparent) 1;
     border-image: -webkit-gradient(linear, right top, left top, from(var(--color-darker)), to(transparent)) 1;
     border-image: linear-gradient(to left, var(--color-darker), transparent) 1;
}

.about #aboutMe {
  margin: 20px 0;
  min-height: 140px;
}

.about .text {
  margin-left: 20px;
  max-width: 385px;
}

.about .text span {
  font-weight: bold;
  color: var(--color-medium);
}

.about .icon-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.about .profile-pic {
  border: 2px solid var(--color-darker);
  z-index: 2;
  border-radius: 5px;
  width: 200px;
  -webkit-transition: .5s;
  transition: .5s;
}

.about .profile-pic:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.about .shadow {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(151, 161, 255, 0.5)), to(transparent));
  background-image: linear-gradient(to bottom, rgba(151, 161, 255, 0.5), transparent);
  height: 265px;
  width: 200px;
  position: absolute;
  border-radius: 5px;
  -webkit-transform: translate(-224px, -24px);
          transform: translate(-224px, -24px);
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .about .profile-pic {
    width: 60%;
  }
  .about .shadow {
    width: 60%;
    -webkit-transform: translate(-10%, -100%);
            transform: translate(-10%, -100%);
  }
  .about .text {
    margin-top: 48px;
  }
}

.services {
  background-image: var(--gradient-top-dark);
  border-top: 2px solid;
  -o-border-image: linear-gradient(to right, transparent, var(--color-darker), transparent) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(var(--color-darker)), to(transparent)) 1;
     border-image: linear-gradient(to right, transparent, var(--color-darker), transparent) 1;
}

.services .card {
  height: 280px;
  padding: 0 30px;
  margin: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--bg-lighter);
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  position: relative;
}

.services .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services .card img {
  width: 50px;
}

.services .card__icon {
  margin-bottom: 8px;
  z-index: 2;
  position: relative;
}

.services .card__title {
  margin-bottom: 8px;
  z-index: 2;
  position: relative;
}

.services .card__title span {
  color: var(--color-medium);
  font-weight: bold;
}

.services .card__descrition p {
  text-align: center;
  max-width: 320px;
  z-index: 2;
  position: relative;
}

.services .card::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 200%;
  background: -webkit-gradient(linear, right top, left top, from(var(--bg-lighter)), color-stop(var(--color-darker)), to(var(--bg-lighter)));
  background: linear-gradient(to left, var(--bg-lighter), var(--color-darker), var(--bg-lighter));
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
}

.services .card::after {
  content: '';
  position: absolute;
  background: var(--bg-lighter);
  inset: 3px;
  border-radius: 10px;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .services .card {
    margin-bottom: 48px;
    width: 100%;
  }
}

.web {
  background-image: var(--gradient-inclined);
  border-top: 2px solid;
  -o-border-image: linear-gradient(to right, var(--color-darker), var(--bg-lighter)) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(var(--color-darker)), to(var(--bg-lighter))) 1;
     border-image: linear-gradient(to right, var(--color-darker), var(--bg-lighter)) 1;
}

.web .project {
  margin-bottom: 150px;
  width: 885px;
}

.web .project p {
  margin-right: 4px;
  display: inline;
  letter-spacing: 1.25px;
}

.web .project .project-screens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.web .project .project-screens .screen-desktop,
.web .project .project-screens .screen-mobile,
.web .project .project-screens .screen-tablet {
  outline: 2px solid var(--color-darker);
  -webkit-box-shadow: 0px 10px 40px 1px black;
          box-shadow: 0px 10px 40px 1px black;
  -webkit-transition: .5s;
  transition: .5s;
}

.web .project .project-screens .screen-desktop:hover,
.web .project .project-screens .screen-mobile:hover,
.web .project .project-screens .screen-tablet:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.web .project .screen-desktop {
  width: 400px;
}

.web .project .screen-mobile {
  height: 300px;
}

.web .project .screen-tablet {
  height: 300px;
}

.web .project .project-info {
  margin: 50px 0;
  max-width: 700px;
}

.web .project .project-info__name, .web .project .project-info__technologies, .web .project .project-info__descrition {
  margin-bottom: 10px;
}

.web .project .project-info__name :nth-child(1), .web .project .project-info__technologies :nth-child(1), .web .project .project-info__descrition :nth-child(1) {
  color: var(--color-medium);
}

@media screen and (max-width: 480px) {
  .web .project {
    width: 100%;
  }
  .web .project-screens {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .web .screen-desktop {
    min-width: 300px;
    max-width: 100%;
    margin-bottom: 32px;
  }
  .web .screen-mobile {
    height: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 32px;
  }
  .web .screen-tablet {
    height: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 32px;
  }
}

.designer {
  background-image: var(--gradient-inclined);
  border-top: 2px solid;
  -o-border-image: linear-gradient(to right, var(--color-darker), transparent, var(--color-darker)) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(var(--color-darker)), color-stop(transparent), to(var(--color-darker))) 1;
     border-image: linear-gradient(to right, var(--color-darker), transparent, var(--color-darker)) 1;
}

.designer section {
  position: relative;
  width: 960px;
}

.designer section img {
  width: 265px;
}

.designer section .swiper {
  width: 860px;
}

.designer section .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.designer section .card-content img {
  border: 2px solid var(--color-darker);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 80%;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
}

.designer section .card-content img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 100%;
}

.designer section .swiper-button-next, .designer section .swiper-button-prev {
  opacity: 0.7;
  color: var(--color-darker);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.designer section .swiper-button-next:hover, .designer section .swiper-button-prev:hover {
  opacity: 1;
  color: var(--color-darker);
}

@media screen and (max-width: 480px) {
  .designer section {
    position: relative;
    width: 110%;
  }
  .designer section img {
    width: 80%;
  }
  .designer section .swiper {
    width: 80%;
  }
}

.abilities {
  background-image: var(--gradient-top);
  border-top: 2px solid;
  -o-border-image: linear-gradient(to right, transparent, var(--color-darker), transparent) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(var(--color-darker)), to(transparent)) 1;
     border-image: linear-gradient(to right, transparent, var(--color-darker), transparent) 1;
}

.abilities .technologies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 960px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.abilities .technology-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--bg-lighter);
  border-radius: 10px;
  margin: 0 15px 50px 15px;
  -webkit-box-shadow: 0px 20px 50px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 50px 1px rgba(0, 0, 0, 0.5);
  padding: 30px;
  overflow: hidden;
  z-index: 2;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.abilities .technology-card img {
  margin-bottom: 10px;
}

.abilities .technology-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.abilities .technology-card__name span {
  color: var(--color-medium);
}

.abilities .technology-card__icon, .abilities .technology-card__name {
  z-index: 2;
  position: relative;
}

.abilities .technology-card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 200%;
  margin-top: -150px;
  background: -webkit-gradient(linear, right top, left top, from(var(--bg-lighter)), color-stop(var(--color-darker)), to(var(--bg-lighter)));
  background: linear-gradient(to left, var(--bg-lighter), var(--color-darker), var(--bg-lighter));
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
}

.abilities .technology-card::after {
  content: '';
  position: absolute;
  background: var(--bg-lighter);
  inset: 3px;
  border-radius: 10px;
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.abilities .large img {
  width: 150px;
}

.abilities .medium img {
  width: 85px;
}

.abilities .small img {
  width: 40px;
}

@media screen and (max-width: 480px) {
  .abilities .technologies-container {
    width: 100%;
  }
}

.education {
  background-image: var(--gradient-top-dark);
  border-top: 2px solid;
  -o-border-image: linear-gradient(to left, transparent, var(--color-darker), transparent) 1;
     border-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(var(--color-darker)), to(transparent)) 1;
     border-image: linear-gradient(to left, transparent, var(--color-darker), transparent) 1;
}

.education img {
  width: 50px;
}

.education .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.education .title-course {
  padding: 150px 0;
}

.education .education-container {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.education .education-container .course-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  margin: 0 15px;
  padding: 30px;
  background: var(--bg-lighter);
  border: 2px solid var(--color-darker);
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: .5s;
  transition: .5s;
}

.education .education-container .course-card span {
  font-weight: bold;
}

.education .education-container .course-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.education .education-container .course-card__status {
  margin-bottom: 5px;
}

.education .education-container .course-card__status span {
  color: var(--color-darker);
  font-size: 14px;
}

.education .education-container .course-card__name {
  text-align: center;
  margin-bottom: 10px;
}

.education .education-container .course-card__name span, .education .education-container .course-card__name span a {
  color: var(--color-medium);
}

.education .education-container .course-card__institution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.education .education-container .course-card__institution span {
  color: var(--color-lighter);
  font-size: 14px;
}

.education .education-container .course-card__institution img {
  width: 20px;
  margin-right: 5px;
}

@media screen and (max-width: 480px) {
  .education .education-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .education .education-container .course-card {
    width: 90%;
    margin-bottom: 50px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--bg-darker);
}

footer p {
  margin: 20px 0;
  color: var(--color-darker);
}
/*# sourceMappingURL=main.css.map */